body{
background:#000;
color:#fff;
font-family:sans-serif;}
table {border-collapse: collapse;
background: #000;}

/* Header and headings */

.logo {
max-width:80%;}

/* Containers */
main, aside, header { 
  padding: 20px;
}
header {}
main {}
aside {}
.container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.item {
  
}

/* Link Lists */

ul.linkList {
  color:#FFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.linklist li {
  padding-bottom: 10px;
}
ul.linkList li a {
  color:#fff;
}

/* table */

table, td, th {
border: 1px solid #666;
}
td, th {
padding: 3px;}
th{
background: #b10413;
  border-color:#bfbfbf;
}

/* Reflow */

@media only screen and (max-width: 600px) {
  .page-reflow main, .page-reflow header, .page-reflow aside  {
    padding: 10px;
  }
  h1 {
    font-size: 1.5em;}
  h2 {
    font-size: 1.2em;}
}
