body{
background:#000;
color:#fff;
font-family:sans-serif;}
table {border-collapse: collapse;
background: #000;}
table, td, th {
border: 1px solid #FFF;
}
td, th {
padding: 3px;}
th{
background: #FF1801;
  color:#000;
}
