body{
background:#000;
  background-image: url("gif/f1.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
color:#fff;
font-family:sans-serif;}
table {border-collapse: collapse;
background: #000;}
table, td, th {
border: 1px solid #FFF;
}
td, th {
padding: 3px;}
th{
background: #FF1801;
}
